.header-content {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7c4e3c;

    // logo
    .logo-container {
        width: 15%;
    }
    // end logo

    // navbar
    .nav-list {
        li {
            padding-left: 10px;
        }

        .btn {
            padding: 10px;
            background-color: white;
            border-color: #6275ab;
            border-radius: 8px;
            color: #6275ab;

            img {
                width: 15px;
                vertical-align: middle;
            }
        }
    }
    // end navbar 
}