// jumbotron
.jumbotron-background {
    background-color: $primary_brand_color;
}

.jumbotron-content {
    display: flex;

    .j-left-col {
        width: 50%;
        padding: 0 20px;

        p {
            margin-top: 5px;
        }

        .buttons {
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }

    .j-right-col {
        width: 50%;
    }
    
}
// end jumbotron

// processes section
// top-content
.section-content {
    text-align: center;
    

    .top-images-container {
        @include flexed_images_container;
        
        img {
            width: 15%;
        }
    }

    .bunny-container {
        margin-bottom: 60px;
        
        img {
            width: 20%;
        }
    }
}

.section-border {
    border-bottom: 1px solid white;
}
// end top-content 

// bottom content 
.bottom-content-margin {
    margin-top: 40px;
}

.bottom-images-container {
    @include flexed_images_container;

    div {
        width: 15%;

        img {
            height: 100px;
        }

        p {
            font-size: 13px;
            margin-top: 20px;
        }
        
        .cat-img {
            width: 50%;
        }
    }
}

.single-image {
    img{
        width: 100%;
    }
}
// end bottom content 
// end orange section


// services section 
.primary-blue-section {
    background-color: $primary_brand_color;

    .justified-content {
        display: flex;


        .col-left {
            width: 50%;
            margin-left: 20px;
        }

        .col-right {
            width: 30%;
            margin-left: 20px;

            p {
                margin: 40px 0 20px 0;
            }

            a {
                text-decoration: none;
                color: blue;
            }

            img {
                margin-top: 20px;
            }
        }
    }
}

.reverse {
    order: 1;
}

.flex-end {
    justify-content: flex-end;
}
// end services section


// sign up section
.signup-section-title {
    text-align: center;
    margin: auto;
    width: 30%;
    font-size: 20px;

    h2 {
        color: white;
        margin-bottom: 10px;
    }
}

// founders message
.founders-message-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

    p {
        font-size: 12px;
    }

    .founders-photos {
        margin-top: 20px;
        display: flex;
        align-items: center;
        
        img {
            margin-right: 20px;
            width: 40px;
        }

        .founders-names {
            span {
                color: blue;
            }

            div {
                font-size: 13px;
            }
        }
    }
}
// end founders message 
.bottom-buttons {
    color: white;
    text-align: center;
}

// end sign up section


// MEDIA QUERIES 
@media screen and (max-width: 768px) {
    .jumbotron-content {
        flex-direction: column;
        align-items: center;

        .j-left-col {
            text-align: center;
            width: 100%;
            font-size: 21px;
        }

        .j-right-col {
            width: 100%;
            margin-top: 20px;
        }
    }

    .section-content {

        .top-images-container {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
}