// jumbotron 
.jumbotron-content {
    display: flex;

    .j-left-col {
        width: 50%;
        padding: 0 20px;

        p {
            margin-top: 5px;
        }

        .buttons {
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }

    .j-right-col {
        width: 50%;
    }
    
}
// end jumbotron

// orange section
// top-content
.section-content {
    text-align: center;
    border-bottom: 1px solid $main_font_color;

    .images-container {
        margin: 50px auto;
        width: 80%;
        
        .top-images {
            display: flex;
            justify-content: space-between;
    
            img {
                width: 15%;
            }
        }
    
        .bottom-image {
            margin-top: 40px;
            img {
                width: 30%;
            }
        }
    }

    
}
// end top-content 

// bottom content 

// end bottom content 
// end orange section 